# Frontend
FRONTEND_PORT=3000

# Gateway Service
GATEWAY_PORT=8080

# Controller Service
CONTROLLER_PORT=8081

# Compute Services
COMPUTE_PORT_1=8082
COMPUTE_PORT_2=8083

# Main Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=database

# Keycloak Database
KC_PORT=9000
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_identity_pass
KC_DB=postgres
KC_DB_URL_HOST=postgres-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=database
KC_HTTP_ENABLED=true
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false

# Dev tools
REDIS_INSIGHT_PORT=5540
PGADMIN_PORT=5541
PGADMIN_DEFAULT_EMAIL=admin@raion.local
PGADMIN_DEFAULT_PASSWORD=admin_secret_pass
PGADMIN_CONFIG_SERVER_MODE=False